app_domain(peripheralmanager_app)

# Allow peripheralmanager_app to find *_service
allow peripheralmanager_app {
  app_api_service
  audioserver_service
  drmserver_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
}:service_manager find;
